<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CityMapper">
    
    <resultMap type="City" id="CityResult">
        <result property="id"    column="id"    />
        <result property="areaName"    column="area_name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="areaShortName"    column="area_short_name"    />
        <result property="level"    column="level"    />
        <result property="areaCode"    column="area_code"    />
        <result property="zipCode"    column="zip_code"    />
        <result property="areaMergerName"    column="area_merger_name"    />
        <result property="pinyin"    column="pinyin"    />
        <result property="pinyinFirst"    column="pinyin_first"    />
        <result property="lng"    column="lng"    />
        <result property="lat"    column="lat"    />
        <result property="createUserId"    column="create_user_id"    />
        <result property="modifyUserId"    column="modify_user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="modifyTime"    column="modify_time"    />
    </resultMap>

    <sql id="selectCityVo">
        select id, area_name, parent_id, area_short_name, level, area_code, zip_code, area_merger_name, pinyin, pinyin_first, lng, lat, create_user_id, modify_user_id, create_time, modify_time from city
    </sql>

    <select id="selectCityList" parameterType="City" resultMap="CityResult">
        <include refid="selectCityVo"/>
        <where>  
            <if test="areaName != null  and areaName != ''"> and area_name like concat('%', #{areaName}, '%')</if>
            <if test="parentId != null "> and parent_id = #{parentId}</if>
            <if test="areaShortName != null  and areaShortName != ''"> and area_short_name like concat('%', #{areaShortName}, '%')</if>
            <if test="level != null "> and level = #{level}</if>
            <if test="areaCode != null  and areaCode != ''"> and area_code = #{areaCode}</if>
            <if test="zipCode != null  and zipCode != ''"> and zip_code = #{zipCode}</if>
            <if test="areaMergerName != null  and areaMergerName != ''"> and area_merger_name like concat('%', #{areaMergerName}, '%')</if>
            <if test="pinyin != null  and pinyin != ''"> and pinyin = #{pinyin}</if>
            <if test="pinyinFirst != null  and pinyinFirst != ''"> and pinyin_first = #{pinyinFirst}</if>
            <if test="lng != null  and lng != ''"> and lng = #{lng}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="createUserId != null "> and create_user_id = #{createUserId}</if>
            <if test="modifyUserId != null "> and modify_user_id = #{modifyUserId}</if>
            <if test="modifyTime != null "> and modify_time = #{modifyTime}</if>
        </where>
    </select>
    
    <select id="selectCityById" parameterType="Long" resultMap="CityResult">
        <include refid="selectCityVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCity" parameterType="City">
        insert into city
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="areaName != null and areaName != ''">area_name,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="areaShortName != null and areaShortName != ''">area_short_name,</if>
            <if test="level != null">level,</if>
            <if test="areaCode != null and areaCode != ''">area_code,</if>
            <if test="zipCode != null and zipCode != ''">zip_code,</if>
            <if test="areaMergerName != null and areaMergerName != ''">area_merger_name,</if>
            <if test="pinyin != null and pinyin != ''">pinyin,</if>
            <if test="pinyinFirst != null and pinyinFirst != ''">pinyin_first,</if>
            <if test="lng != null and lng != ''">lng,</if>
            <if test="lat != null and lat != ''">lat,</if>
            <if test="createUserId != null">create_user_id,</if>
            <if test="modifyUserId != null">modify_user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="modifyTime != null">modify_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="areaName != null and areaName != ''">#{areaName},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="areaShortName != null and areaShortName != ''">#{areaShortName},</if>
            <if test="level != null">#{level},</if>
            <if test="areaCode != null and areaCode != ''">#{areaCode},</if>
            <if test="zipCode != null and zipCode != ''">#{zipCode},</if>
            <if test="areaMergerName != null and areaMergerName != ''">#{areaMergerName},</if>
            <if test="pinyin != null and pinyin != ''">#{pinyin},</if>
            <if test="pinyinFirst != null and pinyinFirst != ''">#{pinyinFirst},</if>
            <if test="lng != null and lng != ''">#{lng},</if>
            <if test="lat != null and lat != ''">#{lat},</if>
            <if test="createUserId != null">#{createUserId},</if>
            <if test="modifyUserId != null">#{modifyUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="modifyTime != null">#{modifyTime},</if>
         </trim>
    </insert>

    <update id="updateCity" parameterType="City">
        update city
        <trim prefix="SET" suffixOverrides=",">
            <if test="areaName != null and areaName != ''">area_name = #{areaName},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="areaShortName != null and areaShortName != ''">area_short_name = #{areaShortName},</if>
            <if test="level != null">level = #{level},</if>
            <if test="areaCode != null and areaCode != ''">area_code = #{areaCode},</if>
            <if test="zipCode != null and zipCode != ''">zip_code = #{zipCode},</if>
            <if test="areaMergerName != null and areaMergerName != ''">area_merger_name = #{areaMergerName},</if>
            <if test="pinyin != null and pinyin != ''">pinyin = #{pinyin},</if>
            <if test="pinyinFirst != null and pinyinFirst != ''">pinyin_first = #{pinyinFirst},</if>
            <if test="lng != null and lng != ''">lng = #{lng},</if>
            <if test="lat != null and lat != ''">lat = #{lat},</if>
            <if test="createUserId != null">create_user_id = #{createUserId},</if>
            <if test="modifyUserId != null">modify_user_id = #{modifyUserId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="modifyTime != null">modify_time = #{modifyTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCityById" parameterType="Long">
        delete from city where id = #{id}
    </delete>

    <delete id="deleteCityByIds" parameterType="String">
        delete from city where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>