<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FlightMapper">
    
    <resultMap type="Flight" id="FlightResult">
        <result property="flightid"    column="flightid"    />
        <result property="aircraftid"    column="aircraftid"    />
        <result property="departure"    column="departure"    />
        <result property="destination"    column="destination"    />
        <result property="departuretime"    column="departuretime"    />
        <result property="arrivaltime"    column="arrivaltime"    />
        <result property="originalprice"    column="originalprice"    />
        <result property="passengercapacity"    column="passengercapacity"    />
    </resultMap>

    <sql id="selectFlightVo">
        select flightid, aircraftid, departure, destination, departuretime, arrivaltime, originalprice, passengercapacity from flight
    </sql>

    <select id="selectFlightList" parameterType="Flight" resultMap="FlightResult">
        <include refid="selectFlightVo"/>
        <where>  
            <if test="aircraftid != null "> and aircraftid = #{aircraftid}</if>
            <if test="departure != null  and departure != ''"> and departure = #{departure}</if>
            <if test="destination != null  and destination != ''"> and destination = #{destination}</if>
            <if test="departuretime != null "> and departuretime = #{departuretime}</if>
            <if test="arrivaltime != null "> and arrivaltime = #{arrivaltime}</if>
            <if test="originalprice != null "> and originalprice = #{originalprice}</if>
            <if test="passengercapacity != null "> and passengercapacity = #{passengercapacity}</if>
        </where>
    </select>
    
    <select id="selectFlightByFlightid" parameterType="Long" resultMap="FlightResult">
        <include refid="selectFlightVo"/>
        where flightid = #{flightid}
    </select>
        
    <insert id="insertFlight" parameterType="Flight" useGeneratedKeys="true" keyProperty="flightid">
        insert into flight
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="aircraftid != null">aircraftid,</if>
            <if test="departure != null">departure,</if>
            <if test="destination != null">destination,</if>
            <if test="departuretime != null">departuretime,</if>
            <if test="arrivaltime != null">arrivaltime,</if>
            <if test="originalprice != null">originalprice,</if>
            <if test="passengercapacity != null">passengercapacity,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="aircraftid != null">#{aircraftid},</if>
            <if test="departure != null">#{departure},</if>
            <if test="destination != null">#{destination},</if>
            <if test="departuretime != null">#{departuretime},</if>
            <if test="arrivaltime != null">#{arrivaltime},</if>
            <if test="originalprice != null">#{originalprice},</if>
            <if test="passengercapacity != null">#{passengercapacity},</if>
         </trim>
    </insert>

    <update id="updateFlight" parameterType="Flight">
        update flight
        <trim prefix="SET" suffixOverrides=",">
            <if test="aircraftid != null">aircraftid = #{aircraftid},</if>
            <if test="departure != null">departure = #{departure},</if>
            <if test="destination != null">destination = #{destination},</if>
            <if test="departuretime != null">departuretime = #{departuretime},</if>
            <if test="arrivaltime != null">arrivaltime = #{arrivaltime},</if>
            <if test="originalprice != null">originalprice = #{originalprice},</if>
            <if test="passengercapacity != null">passengercapacity = #{passengercapacity},</if>
        </trim>
        where flightid = #{flightid}
    </update>

    <delete id="deleteFlightByFlightid" parameterType="Long">
        delete from flight where flightid = #{flightid}
    </delete>

    <delete id="deleteFlightByFlightids" parameterType="String">
        delete from flight where flightid in 
        <foreach item="flightid" collection="array" open="(" separator="," close=")">
            #{flightid}
        </foreach>
    </delete>
</mapper>